<div class="container"> 
	<h2>Tweet! Single User</h2>
  <form id="this_form">
    <input name="tweet" type="text" placeholder="Enter Tweet" />
    <input type="submit" />
  </form>

  <!-- Add this div so everything isn't replaced-->
  <!-- Return tweets -->
  <div class="response">
  </div>



</div>
