<div class="container"> 
  <form id="this_form">
    <input name="tweet" type="text" placeholder="Enter Tweet" />
    <input type="submit" />
  </form>
  <!-- Add this div so everything isn't replaced-->
  <div class="response">
  </div>



</div>
